.NavItem {
    text-transform: capitalize;
    padding       : 1rem;
    border        : none;
    border-bottom : .1rem solid #fff;
}

.NavItem>a {
    color          : black;
    font-size      : large;
    text-decoration: none;
}

.activeNavItem {
    color: red;
}