:root {
    --NavItemColor  : rgb(221, 221, 221);
    --HoverItemColor: rgb(34, 34, 34);
}

.NavItem {
    text-transform: capitalize;
    border        : none;
    border-bottom : .1rem solid var(--NavItemColor);
    cursor        : pointer;
    padding       : 1rem;
}

.NavItem:hover {
    background-color: var(--NavItemColor);
    color           : pink;
    transition      : .5s;
}

.NavItem:hover>a {
    color     : var(--HoverItemColor);
    transition: .3s;
}

.NavItem>a {
    color          : var(--NavItemColor);
    text-decoration: none;
    font-size      : 2rem;
    line-height    : 5rem;
}

.activeNavItem {
    color: red;
}

@media screen and (max-width:37.5rem) {

    .NavItem {
        border-bottom: none;
    }

}