:root {
    --NavItemColor  : rgb(221, 221, 221);
    --HoverItemColor: rgb(34, 34, 34);
}

.NavItem {
    color          : var(--NavItemColor);
    text-decoration: none;
    font-size      : 2rem;
    line-height    : 5rem;
    text-transform : capitalize;
    border         : none;
    border-bottom  : .1rem solid var(--NavItemColor);
    cursor         : pointer;
    padding        : 1rem;
    position       : relative;
    letter-spacing : 0;
    text-shadow    : none;
    transition     : .5s;
}

.NavItem:hover {
    background-color: var(--NavItemColor);
    color           : pink;
    transition      : .5s;
    color           : var(--HoverItemColor);
    transition      : .3s;
}

.activeNavItem {
    letter-spacing: .25rem;
    text-shadow   : 0 .5rem .358rem white;
}

@media screen and (max-width:37.5rem) {

    .NavItem {
        border-bottom: none;
    }

}