.NavItem {
    text-transform: capitalize;
    padding       : 2rem;
    border        : none;
    border-bottom : .1rem solid #fff;
}

.NavItem>a {
    color: white;

    font-size      : large;
    text-decoration: none;
}

.activeNavItem {
    color: red;
}