.EnterButton {
    grid-row        : 3/-1;
    width           : 20rem;
    height          : 50%;
    margin          : 0 auto;
    align-items     : center;
    border          : none;
    color           : white;
    background-color: transparent;
    cursor          : pointer;
    pointer-events  : all;
    font-size       : xx-large;
    text-transform  : uppercase;
    letter-spacing  : .5rem;
    font-family     : Verdana, Geneva, Tahoma, sans-serif;
}