.Header {
    grid-column     : 1/2;
    height          : 100vh;
    background-color: rgb(39, 39, 39);
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    min-width       : fit-content;
}