:root {
  --HeaderWidth: 30rem;
}


.App {
  display       : flex;
  height        : 100vh;
  width         : 100vw;
  flex-direction: row;
}

.Header {
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-evenly;
  min-width      : min-content;
  max-width      : var(--HeaderWidth);
  box-shadow     : 0 0 .8rem #4e4e4e;
}

.Main {
  padding: 1rem;
  width  : calc(100vw - var(--HeaderWidth));
}

@media screen and (max-width:37.5rem) {
  .App {
    flex-direction: column;
  }

  .Header {
    max-width: 100vw;
  }

  .Main {
    grid-column: 1/-1;
    grid-row   : 2/-1;
  }
}