.App {
  display              : grid;
  height               : 100vh;
  grid-template-columns: 1fr 1fr;
}

.Header {
  grid-column    : 1/2;
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-evenly;
  min-width      : min-content
}

.Main {
  grid-column: 2/-1;
}

@media screen and (max-width:37.5rem) {
  .App {
    grid-template-columns: 100vw;
    grid-template-rows   : 2rem 1fr;
  }

  .Header {
    grid-column: 1/-1;
    grid-row   : 1/2;
  }

  .Main {
    grid-column: 1/-1;
    grid-row   : 2/-1;
  }
}