.App {
  width              : 100vw;
  height             : 100vh;
  background-image   : url(https://images.unsplash.com/photo-1460978812857-470ed1c77af0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2658&q=80);
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;
}