*,
*::after,
*::before {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html {
  font-size: 62.50%;
}

body {
  margin                 : 0;
  font-family            : Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : rgb(117, 117, 117);
  background-image       : url('https://images.unsplash.com/photo-1544078751-58fee2d8a03b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
  background-position    : center;
  background-repeat      : no-repeat;
  background-attachment  : fixed;
}