*,
*::after,
*::before {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html {
  font-size: 62.50%;
}

body {
  margin                 : 0;
  font-family            : Megrim, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : rgb(117, 117, 117);
  background             : rgb(255, 255, 255);
  background             : -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 34%, rgba(244, 244, 244, 1) 100%);
  background             : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 34%, rgba(244, 244, 244, 1) 100%);
  background             : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 34%, rgba(244, 244, 244, 1) 100%);
  filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f4f4f4", GradientType=1);
}