.Nav {
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    background-color: inherit;
    min-width       : fit-content;
    list-style-type : none;
}