.Nav {
    position        : absolute;
    width           : 10vw;
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    justify-content : center;
    background-color: rgb(39, 39, 39);
    list-style-type : none;
}