.Nav {
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    background-color: inherit;
    min-width       : fit-content;
    list-style-type : none;
    width           : 100%;
}

@media screen and (max-width:35rem) {
    .Nav {
        text-align: center;
    }
}