.Nav {
    position       : absolute;
    width          : 100%;
    margin         : 0;
    display        : flex;
    align-items    : center;
    height         : 100%;
    justify-content: space-evenly;
    list-style-type: none;
}