.Background {
    width              : 100vw;
    height             : 100vh;
    background-image   : url(https://images.pexels.com/photos/169198/pexels-photo-169198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
}